:root {
    --mainColorLight: linear-gradient(to bottom, #58d1a9, #85d4ba, #58d1a9);
    --mainColorSolid: #58d1a9;
    --mainColor: linear-gradient(to bottom, #58d1a98a, #70d3b28a, #58d1a98a);
    --contentBodyBg: #fff;
    --mainScreenBg: #ececec;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Overlock', cursive;
}

.mainBody {
    background: var(--mainColor);
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBody .mainScreen {
    max-width: 500px;
    width: 50%;
    height: 90%;
    box-shadow: inset -2px -2px 4px rgba(199, 191, 191, 0.5);
    background: var(--mainScreenBg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.mainBody .mainScreen .navBar {
    background: var(--mainColorLight);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.2);
}

.mainBody .mainScreen .navBar span {
    color: rgb(255, 117, 4);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.mainBody .mainScreen .contentBody {
    height: 100%;
    display: flex;
}

.popUp:hover,
.popUp:focus {
    position: relative;
    box-shadow: inset 2px 2px 4px -1px rgba(0, 0, 0, 0.2), inset -2px -2px 4px -1px rgba(250, 250, 250, 0.7), -0.5px -0.5px 0px rgba(250, 250, 250, 1), 0.5px 0.5px 0 rgba(0, 0, 0, 0.15), 0px 8px 5px -5px rgba(0, 0, 0, 0.05);
}

.popUp {
    position: relative;
    transition: box-shadow linear 0.3s;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.15), -2px -2px 4px -1px rgba(250, 250, 250, 0.7);
    -webkit-transition: box-shadow linear 0.3s;
    -moz-transition: box-shadow linear 0.3s;
    -ms-transition: box-shadow linear 0.3s;
    -o-transition: box-shadow linear 0.3s;
}

.popUpNoHover {
    position: relative;
    transition: box-shadow linear 0.3s;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.15), -2px -2px 4px -1px rgba(250, 250, 250, 0.7);
    -webkit-transition: box-shadow linear 0.3s;
    -moz-transition: box-shadow linear 0.3s;
    -ms-transition: box-shadow linear 0.3s;
    -o-transition: box-shadow linear 0.3s;
    cursor: none;
}

.optionBox {
    background: var(--mainScreenBg);
    padding-top: 10px;
    /* border-top: 1px dashed var(--mainColorLight);
    border-bottom: 1px dashed var(--mainColorLight); */
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    box-shadow: inset 0px 1px 5px rgba(199, 191, 191, 0.5);
}

.optionBox::-webkit-scrollbar {
    width: 10px;
}

.optionBox::-webkit-scrollbar-track {
    background: transparent;
}

.optionBox::-webkit-scrollbar-thumb {
    background: var(--mainColorLight);
    border-radius: 5px;
    border: 0.5px solid var(--mainScreenBg);
}

.optionBox .option {
    background: var(--mainScreenBg);
    display: block;
    font-weight: bold;
    color: var(--mainColorSolid);
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    text-transform: capitalize;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.optionApear {
    animation-name: apear;
    animation-duration: 0.4s;
}

.disApear {
    animation-name: disapear;
    animation-duration: 0.2s;
}

@keyframes apear {
    0% {
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }
}

@keyframes disapear {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}

.optionBox span.option {
    cursor: pointer;
}

.bottomBar {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.bottomBar .btn {
    background: var(--mainColorLight);
    width: 25%;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width:550px) {
    .mainBody .mainScreen {
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}


/* 
.popUp:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    box-shadow: 3px 3px 4px rgba(199, 191, 191, 0.5);
} */